body{
   background-image: url('pexels-ryan-west-838532-1719648.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 1300px;
    padding: 0%;
}
header{
    text-align: center;
    background-color:none;
color: rgb(249, 243, 243);
    margin: 0%;
   font-size: 23px;
   text-shadow: 5px 5px 10px rgb(24, 22, 22);
margin-top: none;
}
  
#subtext{
text-align: left;
width: 80%;
margin-left: 10%;
margin-top: 12%;
margin-right: 50%;
color:rgb(255, 255, 255);
line-height: 50%;


}
#text1{
    margin-left: 10%;
    font-size: 44px;
    color: aliceblue;
    line-height: 10%;

}



h2{
    margin-top: 50%;

}
h1{
    margin: 0%;
}
.img_bmwm4{
    width: 40%;
    height: 30%; 
    margin-right: 10%;
    margin-top: 5%;
    float:right;
}

#button1{
    background-color: black;
    color: beige;
    font-size:32px;
    box-shadow:54px;
    margin-left: 10%;
}
#button2{
    background-color: black;
    color: beige;
    font-size:32px;
    box-shadow:54px;
    margin-left: 5%;
}

nav {
    background-color: black;
    overflow: hidden;
    height: 80px;

  align-content: center;
}
nav ul {
        margin: 0;
    
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color:rgb(207, 214, 222);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);


}
nav ul li a:hover {
    background-color: #575757;
}
.nav-item{
    margin-left: 40%;
}